<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link type="text/css" rel="stylesheet" href="./myclass.css" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.0.2/papaparse.min.js" integrity="sha256-SU1Ep4Z1qETBgIsTRa5WlmPq9oHzkzR83Fia3jeXHp4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/0.4.11/alasql.min.js" integrity="sha256-cBaIynvJ6UHhaeb8IcYuYtd2hei4XYrPyUhm9DKrRBQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.2/jszip.min.js" integrity="sha256-gy5W5/rXWluWXFRvMWFFMVhocfpBe7Tf4SW2WMfjs4E=" crossorigin="anonymous"></script>
    <title>Simple Dashboard</title>
  </head>
  <body>
    <div id="app">
        <nav class="navbar navbar-dark bg-dark text-white">
            <!-- Navbar content -->
          <h1 class="h4">NI225 Dashboard</h1>
        </nav>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 sidebar">
              <div class="row">
                <div class="col my-2">
                  <h2 class="h5">Maturities</h2>
                    <div v-for="item in categories">
                      <router-link :to="{path: '', query: {mat: item}}">{{item}}</router-link>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col mt-2">
                    <input @change="read" type="file">
                </div>
              </div>
              <div class="row">
                <div class="col-xl-3 col-sm-6 py-2">
                  <div class="card bg-success text-white h-100">
                    <div class="card-body bg-success">
                      <h3 class="h6 text-uppercase">Maturity</h6>
                      <h4 class="h1 display-4">{{currentMat}}</h1>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-sm-5 py-2">
                  <div class="card bg-danger text-white h-100">
                    <div class="card-body bg-danger">
                      <h3 class="h6 text-uppercase">NI225</h6>
                      <h4 class="h1 display-4">{{currentNI225}}</h1>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                  <div class="card bg-info text-white h-100">
                    <div class="card-body bg-info">
                      <h3 class="h6 text-uppercase">Base Vol</h6>
                      <h4 class="h1 display-4">{{currentVol}}</h1>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Plotly -->
                <div class="col mt-5">
                  <div id="tester" style="height:500px;"></div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <b-pagination
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    :limit="10"
                    aria-controls="my-table"
                  ></b-pagination>
                  <b-table id="mytable"
                    striped
                    hover
                    small
                    responsive
                    :items="items"
                    :fields="fields"
                    :per-page="perPage"
                    :current-page="currentPage"
                  >
                  <template slot="[STRIKE]" slot-scope="data">
                    {{Number.parseInt(data.value)}}
                  </template>
                </b-table>                
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>